# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.so
*.dll
*.dylib

# Editor Stuff
*.swp

# Dependency directories (if you use them)
/libs/
/external/

# Build directories
/build/
/bin/

# System files
.DS_Store
.vscode
ros2_ws/src/build
ros2_ws/src/install
ros2_ws/src/log

install 
log
